.Places-Name {
    width: 250px !important;
}

svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root {
    color: #fff !important;
}

input#Places-Name {
    color: white !important;
}